@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=PT+Serif&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-family: "Priori" !important;
    font-family: 'PT Serif', serif;
}


/*navbar*/

nav {
    background-color: black;
    padding: 5px;
    display: flex;
    position: fixed;
    width: 100%;
    align-items: center;
}

nav a:hover {
    text-decoration-line: underline overline;
}

.top-bar {
    background-color: black;
    display: flex;
    margin-left: 20%;
    letter-spacing: 10px;
    padding: 8px;
}

a,
a:hover {
    text-decoration: none;
    color: white;
}

ion-icon {
    font-size: 18px;
}

.top-bar li {
    list-style: none;
    display: flex;
    margin: 0px 5px;
}

.top-bar a,
nav a {
    color: rgb(250, 128, 224);
}

.top-bar a:hover,
nav a:hover {
    color: rgb(253, 233, 249);
}

.logo a {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.logo a:hover {
    color: #fff;
}

.menu {
    display: flex;
    align-items: center;
    list-style: none;
    letter-spacing: 5px;
    background-color: black;
}

.menu li {
    padding: 12px;
    font-size: 15px;
    font-weight: 700;
    color: #f4a7ba;
}

.toggle {
    font-size: 30px;
    display: none;
}

@media screen and(max-width:600px) {
    nav {
        display: block;
        position: relative;
        padding: 15px 20px;
    }
    .menu {
        margin-top: 15px;
        display: none;
        position: fixed;
        background-color: black;
    }
}

.logo img {
    width: 170px;
    margin-right: -60px;
    margin-left: 20px;
}


/*homepage*/

section {
    min-height: 100vh;
}

.parallax {
    background-image: url('https://wallpapers.com/images/featured/3dcpt7p1kgu54lty.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    place-items: center;
    text-align: center;
}

.title {
    font-size: 40px;
    letter-spacing: 5px;
    color: rgba(238, 0, 167, 0.966);
    font-weight: bolder;
    position: static;
    margin-top: 105%;
    margin-bottom: 32%;
}

.text-container {
    display: grid;
    place-items: center;
    font-size: 56px;
    color: white;
}


/*shop*/

#shop {
    background-color: #4e4a4a;
    height: 100vh;
    padding-top: 10%;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

.box img {
    height: 50vh;
    width: 20vw;
}

.box {
    background-color: #f4a7ba;
    padding-top: 40px;
    padding-right: 20px;
    padding-left: 20px;
    ;
}

.jenini {
    background-color: black;
    margin-bottom: 30px;
    padding-bottom: 20px;
    color: white;
    text-align: center;
}


/*



.box .jennie {
    background-color: #e0cacf;
    flex: 1;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin: 5vh;
}

#jennie {
    background-color: aqua;
    width: 20vw;
    height: 10vh;
}

.jen {
    width: 20vw;
    padding-top: 20px;
    padding-bottom: 20px;
}



.lis {
    width: 20vw;
    height: 30vh;
}

.jis {
    width: 20vw;
    height: 30vh;
}

.ros {
    width: 20vw;
    height: 30vh;
}
*/